// Override default variables before the import
$primary: 	#80ef5a;
$secondary: #f1ffec;
$warning: #c4c4c4;
$info: #e5e5e5;
$light: #ffffff;
$dark: #070707;
$danger: #E87878;
$success: #008000;
$hint: #979EA5;

// Override theme colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "warning":    $warning,
  "info":       $info,
  "success":    $success,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "hint":       $hint
);

$accordion-bg:  transparent;
$input-height-lg: 75px;
$input-font-size-lg: 22px;

a:hover {
  color: $primary !important;
}

.req {
  color: #A92323 !important;
}

.small {
  font-size: 14px !important;
}

/* .custom{
  $form-floating-label-transform: scale(.99) translateY(-.5rem) translateX(.15rem);
} */

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';