// Override default variables before the import
$primary: 	#80ef5a;
$secondary: #f1ffec;
$warning: #c4c4c4;
$info: #e5e5e5;
$light: #ffffff;
$dark: #070707;
$danger: #D22B2B;
$success: #008000;
$hint: #979EA5;

// Override theme colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "warning":    $warning,
  "info":       $info,
  "success":    $success,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "hint":       $hint
);

$accordion-bg:  transparent;
$input-height-lg: 75px;
$input-font-size-lg: 22px;

.full-page-with-nav {
  height: 100vh;
  padding-top: 4.5rem;
}

.search-bar-icon {
  border-radius: 50rem 0rem 0rem 50rem !important;
  border-style: solid none solid solid !important;
}

.search-bar-input {
  border-radius: 0rem 50rem 50rem 0rem !important;
  border-style: solid solid solid none !important;
}

.req {
  color: #A92323 !important;
}

.small {
  font-size: 14px !important;
}

.img-new-reta {
  height: 280px !important;
  object-fit: cover !important;
  object-position: center 66% !important;
}

.style-h6 {
  text-align: left !important; 
  padding-bottom: 5px !important;
}

// Import Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap.scss';